@theme inline {
  --color-brand: #0092dd;
  --color-contrast: #dd4a00;
}

:root {
  --background: #edf1f2 !important;
}

.dark {
  --background: #120e0d !important;
}

.custom-mono {
  @apply font-mono leading-4 font-semibold;
}
