@theme inline {
  --color-brand: #0092dd;
  --color-contrast: #dd4a00;
}

:root {
  --background: #120e0d !important;
  --foreground: #edf1f2 !important;
  --muted: oklch(0.556 0 0) !important;
  --muted-foreground: oklch(0.708 0 0) !important;
  --border: oklch(1 0 0 / 10%) !important;
  /* --input: oklch(1 0 0 / 15%) !important; */

}

.custom-mono {
  @apply font-mono leading-4 font-semibold;
}
