@theme inline {
  --color-brand: #0092dd;
  --color-contrast: #dd4a00;
  --color-bot: #90c9ca;
}

:root {
  --background: #120e0d !important;
  --foreground: #edf1f2 !important;
  --muted: oklch(0.556 0 0) !important;
  --muted-foreground: oklch(0.708 0 0) !important;
  --border: oklch(1 0 0 / 10%) !important;
  --outline: oklch(0.922 0 0) !important;
  --input: oklch(0 0 0 / 20%) !important;
}

.debug {
  @apply border border-red-500;
}

.custom-mono {
  @apply font-mono leading-4 font-semibold;
}
